@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
body,
html
{
    height: 100%;
    overflow-x: hidden;
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}
.big_space {
    min-height: 130px;
}
.medium_space {
    min-height: 80px;
}
.min_space {
    min-height: 20px;
}
.page_main_title {
    font-weight: bold;
    font-size: x-large;
    color: rgb(62, 53, 13);
    text-align: center;
}
.sub_title {
    font-size: large;
    color: rgb(15, 87, 108);
}
.text_classique {
    text-align: justify;
}
.bouton_classic {
    background-color: #d9d9d9;
    border-radius: 0.3em;
    border: 1px solid rgb(109, 141, 43);
    padding: 1%;
    color: black;
    font-size: large;
}
.inputClassique {
    width: 300px;
    padding: 1%;
    border-radius: 0.3em;
    border: solid 1px rgb(109, 141, 43);
}



/* CONTENU DE LA PAGE 1 */
.conteneur-droite {
    display: flex; 
    justify-content: flex-end;
    gap: 10px;
}




/* CONTENU DE LA PAGE 2 */
.button_cat_trash {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: auto; 
    border: 1px solid rgb(109, 141, 43);
    background-color: #d9d9d9;
    border-radius: 0.4em;
}
.bouton_position_usr {
    flex: 1;
    background-color: #d9d9d9;
    border-radius: 0.3em;
    border: 1px solid rgb(15, 87, 108);
    padding: 0.8%;
    color: black;
    min-width: 120px; 
    font-size: large;
}
.bouton_position_usr:hover {
    background-color: #ababab;
    border-radius: 0.3em;
    border: 1px solid rgb(109, 141, 43);
}
.bouton_choix_style_cat_dechet {
    flex: 1;
    margin: 5px;
    border-radius: 0.3em;
    border: 1px solid black;
    padding: 0.8%;
    color: black;
    min-width: 100px; 
    font-size: large;
}
.bouton_position_usr_div {
    align-items: flex-start;
}
#composte {
    background-color: rgba(183, 229, 205, 0.2);
}
#electronique {
    background-color: rgba/* CONTENU DE LA PAGE 2 */
    a(173, 216, 230, 0.2);
}
#piles {
    background-color: rgba(255, 187, 153, 0.2);
}
#ampoules {
    background-color: rgba(255, 255, 153, 0.2);
}
#autre {
    background-color: rgba(255, 153, 153, 0.2);
}/* Utilise Flexbox pour le positionnement */
#composte:hover {
    background-color: rgba(183, 229, 205, 0.9);
}
#electronique:hover {
    background-color: rgba(200, 200, 200, 0.9);
}
#automobile:hover {
    background-color: rgba(203, 173, 229, 0.9);
}
#carton:hover {
    background-color: rgba(210, 180, 140, 0.9);
}
#papier:hover {
    background-color: rgba(255, 255, 255, 0.9);
}
#verre:hover {
    background-color: rgba(173, 216, 230, 0.9);
}
#piles:hover {
    background-color: rgba(255, 187, 153, 0.9);
}
#ampoules:hover {
    background-color: rgba(255, 255, 153, 0.9);
}
#autre:hover {
    background-color: rgba(255, 153, 153, 0.9);
}
#carte_utilisateur, #carte_utilisateur_collecte {
    height: 350px;
    border-radius: 0.6em;
}
.slider_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: auto; 
    border: 1px solid rgb(109, 141, 43);
    background-color: #d9d9d9;
    border-radius: 0.4em;
}



/* CONTENU DE LA PAGE PRINCIPALE */
.title_with_icon {
    display: flex; 
    align-items: center;
    margin-left: 5%;
}
.image_icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}
.search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 10%;
    width: 80%;
}
#search_input {
    width: 70%;
    border-radius: 0.4em;
    border: solid 1px rgb(15, 87, 108);
    background-color: #d9d9d9;
    height: 25px; 
}
#search_button {
    margin-left: 5%;
    width: 30px;
}
.scan_products video {
    margin: 1% 2% 0.5% 10%;
    width: 80%; 
    max-height: 250px;
    border-radius: 0.4em;
}
#barcode-scanner::-webkit-media-controls {
    display: none !important;
}
@keyframes blink {
    0% { background-color: #d9d9d9; }
    50% { background-color: rgb(15, 87, 108, 0.7); }
    100% { background-color: #d9d9d9; }
}
.blink-bg {
animation: blink 1s linear;
}  
@keyframes blink-red {
    0%, 100% { background-color: #d9d9d9; }
    50% { background-color: red; }
}
.blink-bg-red {
    animation: blink-red 1s linear;
}
.result {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0.1% 2% 0% 10%;
    width: 80%; 
    height: 30%;
    border: 1px solid rgb(109, 141, 43); 
    background-color: #d9d9d9;
    border-radius: 0.4em;
}
.eco_score_result {
    height: 32px;
    width: 32px;
    margin-left: 10%;
}
#ecoscore_image {
    height: 30px;
}
#text_result {
    flex: 2; 
    margin: 1%;
    display: flex;
    justify-content: space-between;
    border-radius: 0.4em;
}
#img_result {
    flex: 2; 
    margin: 3%;
    display: flex;
    justify-content: space-between;
    max-height: 95%;
}
#top_bar_info_and_flash {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1%;
    margin-right: 10%;
}
#toggle_flash_button,
.info_button {
    display: inline-block;
}
#list_manager {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%; 
    height: 5%;
    margin-top: 1%;
    margin-left: 10%;
}



/* CONTENU DE LA PAGE 3 */
.iframe_style {
    width: 100%;
    height: 100%;
}




/* CHANGE CONTENT BUTTON */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d9d9d9;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    border: solid 1px rgb(62, 53, 13);
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(15, 87, 108);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: rgb(109, 141, 43);
}
input:focus + .slider {
    box-shadow: 0 0 1px rgb(109, 141, 43);
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.page_content_A, .page_content_B {
    position: absolute;
    bottom: 150px;
    top: 0%;
    left: 5%;
    right: 5%;
}
.end_content_switch {
    position: absolute;
    bottom: 65px;
    right: 25%; 
    float: right;
}



/* FIVE INFO */
.nbr_hab_house {
    display: flex;
    justify-content: left;
    margin-top: 2%;
    width: 100%;
}
#nbr_hab_house_search_input, #unique_pseudo_input {
    width: 100%;
    border-radius: 0.4em;
    border: solid 1px rgb(15, 87, 108);
    background-color: #d9d9d9;
    height: 25px; 
    color: black;
}
#nbr_hab_house_search_button, #unique_pseudo_button {
    margin-left: 2%;
    margin-right: 1%;
    width: 30px;
}




/* NAV BAR */
.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #d9d9d9;
    overflow: hidden;
    max-height: 55px;
    min-height: 55px;
}
.navbar ul li a img {
    height: 20px;
    width: auto;
}
.img_button :hover {
    background-color: #ababab;
    border-radius: 0.3em;
    border: 1px solid rgb(109, 141, 43);
    margin: -4px;
    padding: 3px;
}
.menu_isol_central {
    display: flex; 
    justify-content: center;
    align-items: center; 
    margin-left: 2%;
    margin-right: 2%;
    height: 55px; 
}
.nav_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 2% 1% 2%;
}
.current_page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 2% 1% 2%;
    background-color: #ababab;
    border-radius: 0.3em;
    border: 1px solid rgb(109, 141, 43);
    margin: -4px;
    padding: 3px;
}
